@{
    ViewBag.Title = "Thông tin về công ty";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Đại học Công Nghệ Thông Tin, Khu Phố 6<br />
    Phường Linh Trung, Quận Thủ Đức, Tp. Hồ Chí Minh<br />
    <abbr title="Số điện thoại">Phone:</abbr>
    0838118222
</address>

<address>
    <strong>Email</strong>   <a href="mailto:17521000@gm.uit.edu.vn">17521000@gm.uit.edu.vn</a><br />
</address>